<%include partials/header %>
<h1>Campgrounds</h1>

<% campgrounds.forEach(function(campground){ %>
    
    <div>
        
        <h4><%= campground.name %></h4>
        <img src="<%= campground.image %>" width ="150px;" height= "150px"/>
        
    </div>
    
    
<% }); %>

<a href="campgrounds/new">Add a new campground</a>


<%include partials/footer %>