<% include partials/header %>

<h1>Wildy Base Camp!</h1>


<p>This will all look much more beautiful so soon!</p>



<p>While you're waiting, check out these cool <a href="/campgrounds">camp sites!</a></p>



<% include partials/footer %>