<% include partials/header %>


    <div class="container">
        <div class="row">
        
               <h2 style="text-align:center;">We need your help to share great campsites!</h2>
               <h4 style="text-align:center;">Add your favorite stomping grounds to Wildy and share it with others.</h4>
            
                <div style="width:30%; margin:30px auto;">   
                
                
                    <form action="/campgrounds" method="POST">
                        
                        <div class="form-group">
                            <input class="form-control" type="text" name="name" placeholder="Name">
                        </div> 
                        
                        <div class="form-group">
                            <input class="form-control" type="text" name="image" placeholder="Image URL (http://...)">
                        </div>
                        
                        <div class="form-group">
                           <label for="coordinates" class="col-sm-2 control-label">Coordinates</label> 
                            <input class="form-control" type="text" name="latitude" placeholder="latitude">
                            <input class="form-control" type="text" name="longitude" placeholder="longitude">
                        </div>
                       
                        <div class="form-group">
                            <label for="state" class="col-sm-2 control-label">State</label>
                            	<div class="form-group">
                            		<select class="form-control" id="state" name="state">
                            			<option value="">N/A</option>
                            			<option value="AK">Alaska</option>
                            			<option value="AL">Alabama</option>
                            			<option value="AR">Arkansas</option>
                            			<option value="AZ">Arizona</option>
                            			<option value="CA">California</option>
                            			<option value="CO">Colorado</option>
                            			<option value="CT">Connecticut</option>
                            			<option value="DC">District of Columbia</option>
                            			<option value="DE">Delaware</option>
                            			<option value="FL">Florida</option>
                            			<option value="GA">Georgia</option>
                            			<option value="HI">Hawaii</option>
                            			<option value="IA">Iowa</option>
                            			<option value="ID">Idaho</option>
                            			<option value="IL">Illinois</option>
                            			<option value="IN">Indiana</option>
                            			<option value="KS">Kansas</option>
                            			<option value="KY">Kentucky</option>
                            			<option value="LA">Louisiana</option>
                            			<option value="MA">Massachusetts</option>
                            			<option value="MD">Maryland</option>
                            			<option value="ME">Maine</option>
                            			<option value="MI">Michigan</option>
                            			<option value="MN">Minnesota</option>
                            			<option value="MO">Missouri</option>
                            			<option value="MS">Mississippi</option>
                            			<option value="MT">Montana</option>
                            			<option value="NC">North Carolina</option>
                            			<option value="ND">North Dakota</option>
                            			<option value="NE">Nebraska</option>
                            			<option value="NH">New Hampshire</option>
                            			<option value="NJ">New Jersey</option>
                            			<option value="NM">New Mexico</option>
                            			<option value="NV">Nevada</option>
                            			<option value="NY">New York</option>
                            			<option value="OH">Ohio</option>
                            			<option value="OK">Oklahoma</option>
                            			<option value="OR">Oregon</option>
                            			<option value="PA">Pennsylvania</option>
                            			<option value="PR">Puerto Rico</option>
                            			<option value="RI">Rhode Island</option>
                            			<option value="SC">South Carolina</option>
                            			<option value="SD">South Dakota</option>
                            			<option value="TN">Tennessee</option>
                            			<option value="TX">Texas</option>
                            			<option value="UT">Utah</option>
                            			<option value="VA">Virginia</option>
                            			<option value="VT">Vermont</option>
                            			<option value="WA">Washington</option>
                            			<option value="WI">Wisconsin</option>
                            			<option value="WV">West Virginia</option>
                            			<option value="WY">Wyoming</option>
                            		</select>
                            	</div>
                            </div>
                        <div class="form-group">
                            
                            <textarea class="form-control" rows="3" name="description" placeholder="Add a description..."></textarea>
                        </div>
                            
                        
                        
                        
                        <div class="form-group">
                            <button class="btn btn-large btn-primary btn-block">Add Campground</button>
                        </div>
                        
                    </form>
                    <a href="/campgrounds">Go Back</a>
                </div>
        </div>
    </div>


<hr/>
</br>



<%include partials/footer %>