<%include partials/header %>

<h1>Add a campground!</h1>
<form method="POST" action="/campgrounds">
    <input name="name" type="text" placeholder="name"/>
    <input name="image" type="text" placeholder="imageURL"/>
    <button>Submit</button>    
    
</form>



<%include partials/footer %>