<% include partials/header %>

<!-- Accent-div just provides background accent-->
<div class="accent-div"></div>
<!-- ******************************************-->
<div class="head-wrapper">
    <h1> <%=campground.name%> </h1>
        <h3><%=campground.state %></h3>
            <img src="<%=campground.image%>">
    <!-- 5 star rating system --> 
    <div class="rater">
        <h4>Rate this campsite!</h4>
                <fieldset class="rating">
            <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
            <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
            <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
            <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
            <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </fieldset>
        <a href="#">[number] reviews</a>
    </div>
<!--                                            -->
</div>

<div class="container">
    <div class="main-wrapper">
        
            
    
         
    
                <div class="features">
                    <h4>Features:</h4>
        
                </div>
            <h2>Description</h2>
        </hr>
            <p><%= campground.description %></p>
        </hr>
            <h2>Location</h2>
    
    </div>
    
    <div class="side-wrapper">
        
    </div>

</div>

<% include partials/footer %>