html{
    width:100%;
    
}

#landing-bg{
    background-image: url("https://images.unsplash.com/photo-1455763916899-e8b50eca9967?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=462846a9d021100acba3cbf7a293ad7f");
    background-size: cover;
    background-position: 0 -200px;
    
    
}

.results{
    padding:10px;
    
    
}

.results h4{
    display:inline-block;
    position: absolute;
    margin-top:0px;
    margin-left:10px;
    
}

.results img{
    
    display:inline-block;
}

/* Landing page styling!! */


#landing-container{
    padding-left:10px;
    margin:0px;
    width:40%;
    background-color: rgba(79,79,79,0.3);
    min-height:600px;
    color: white;
    
    
}

.form-wrapper{
 margin: 0px auto;   
 margin-top: 30px;
 margin-left: 50px;
 background-color: rgba(40,40,40,0.7);
 float: left;
 padding:30px;
 
    
}


.btn-login{
    width:75px;
    height:40px;
    background-color: #37b737;
    color:white;
    border-radius: 2px 2px 2px 2px;
    border: 0px;
    display: block;
    float:right;
    margin:2px;
}

.login-input{
    height:40px;
    width:300px;
    border-radius: 5px 5px 5px 5px;
    margin-bottom:10px;
    display: block;
    
}


